/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.splash {
    background: linear-gradient(#111,#222);
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 80px
}

.splash h1 {
    color: #fff;
    font-size: 56px;
    line-height: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: -1px
}

.splash h2 {
    color: hsla(0,0%,100%,.7);
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 140%;
    max-width: 750px;
    letter-spacing: 1px
}

.btn {
    display: inline-block;
    padding: 7px 20px;
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #585760;
    transition: all .2s ease-out
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    border-color: #111;
    background-color: #111
}

.btn.ghost {
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    margin: 0 10px;
    border: 1px solid #fff
}

.btn.ghost:hover,.btn.primary {
    background-color: #fff;
    border-color: #fff;
    color: #000
}

.btn.primary:hover {
    opacity: .8
}

.splash .shadow {
    position: absolute;
    background-image: linear-gradient(0deg,rgba(0,0,0,.1),transparent);
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    z-index: 2
}